.swiper {
    padding: 32px;
    width: 100%;
    max-width: 1200px
}
  
.swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px
}
  
.swiper-pagination-bullet-active {
    background-color: #718096;
  }
  
.swiper-button-prev {
    color: #718096
}
  
.swiper-button-next {
    color: #718096
}