.swiper {
    padding: 32px;
    width: 100%;
    max-width: 1200px

}
@media (max-width: 1200px) {
    .swiper {
        max-width: 860px
    
    }    
}

  

  
.swiper-pagination-bullet-active {
    background-color: #718096;
  }
  
.swiper-button-prev {
    color: #718096
}
  
.swiper-button-next {
    color: #718096
}